html,
body {
  height    : 100%;
  width     : 100%;
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
  background: #051b3d;
}

:root {
  --el-bg-color-overlay  : #051b3d;
  --el-border-color-light: #4065dedb;
  --el-fill-color-light  : #4065dedb;
  --el-fill-color-blank  : #4065dedb;
  --el-text-color-regular: #9ce1fc;
}