@background: #051b3d;
@comp-background: #01192F;

::v-deep(section) {
    .el-table {
        --el-table-header-bg-color: #022e52;
        --el-table-tr-bg-color: #032443;
        --el-fill-color-lighter: #022e52;
        --el-table-bg-color: #032443;
        --el-table-row-hover-bg-color: #043b6e;
        --el-table-border-color: #09367a;
        --el-text-color-secondary: #C5DFF9;
        --el-table-current-row-bg-color: #084384;
        color: #fff;
    }

    .el-pagination__sizes .is-first {
        margin: 0 5px;
    }

    .el-pagination--small .btn-next,
    .el-pagination--small .btn-prev,
    .el-pagination--small .el-pager li {
        margin: 0 1px;
        color: #fff;
    }
    .el-pagination--small .el-pager li.is-active {
        color: #2188ee;
    }

    .table-header th {
        height: 40px !important;
        cursor: alias !important;
    }

    .el-table th,
    .el-table td {
        padding: 0px !important;
        height: 40px !important;
        cursor: pointer;
    }

    .el-table__header-wrapper {
        border-top: 1px solid @comp-background;
    }

    .el-table thead {
        filter: blur(0.3px);
        color: #C5DFF9;
    }
}

::v-deep(header) {
    .el-select {
        --el-fill-color-blank: @background;
        --el-border-color: #2D67A5;
    }

    .el-input {
        --el-input-bg-color: @background;
        --el-input-border-color: #2D67A5;
    }
}