::v-deep(section) .el-table {
  --el-table-header-bg-color: #034F95;
  --el-table-tr-bg-color: #051b3d;
  --el-fill-color-lighter: rgba(0, 122, 251, 0.2);
  --el-table-bg-color: #051b3d;
  --el-table-row-hover-bg-color: #80b4e4;
  --el-table-border-color: #09367a;
  --el-text-color-secondary: #C5DFF9;
  color: #fff;
}
::v-deep(section) .el-pagination__sizes .is-first {
  margin: 0 5px;
}
::v-deep(section) .el-pagination--small .btn-next,
::v-deep(section) .el-pagination--small .btn-prev,
::v-deep(section) .el-pagination--small .el-pager li {
  margin: 0 1px;
}
::v-deep(section) .table-header th {
  height: 40px !important;
  cursor: alias !important;
}
::v-deep(section) .el-table th,
::v-deep(section) .el-table td {
  padding: 0px !important;
  height: 40px !important;
  cursor: pointer;
}
::v-deep(section) .el-table__header-wrapper {
  border-top: 1px solid #09367a;
}
::v-deep(section) .el-table thead {
  filter: blur(0.3px);
  color: #C5DFF9;
}
::v-deep(header) .el-select {
  --el-fill-color-blank: #051b3d;
  --el-border-color: #09367a;
}
